@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    background: linear-gradient(to bottom, #000000, #ffffff);
    user-select: none;
}

#title {
    letter-spacing: -5px;
    color: white;
}

button, #fetch {
    background-color: #555555;
    border: none;
    font-size: 20px;
    color: white;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

#main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

#box {
    background-color: white;
    color: rgb(51, 51, 51);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

#result {
    font-size: 22px;
}

#hex {
    font-family: 'Inconsolata';
    text-transform: uppercase;
    cursor: pointer;
}

#name {
    user-select: text;
}

#attribution {
    font-size: 12px;
}

#attribution a {
    color: blue;
    text-decoration: none;
}

#attribution img {
    margin-left: 5px;
    margin-top: 5px;
    max-width: 12px;
    max-height: 12px;
}

@keyframes wiggle {
    0% {transform: translate(0, 0)}
    25% {transform: translate(-2px, 0)}
    50% {transform: translate(2px, 0)}
    75% {transform: translate(-2px, 0)}
    100% {transform: translate(0, 0)}
}

@keyframes pop {
    50% {font-size: 30px}
}

.wiggle {
    animation: wiggle 0.2s;
}

.pop {
    animation: pop 0.2s;
}